* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: Avenir, 'Segoe UI', 'Lucida Grande', Lucida, Verdana, sans-serif;
    color: #4b4b4b;
}

.container, body{
    background-color:#f2f2f2;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 20px;
    background-color:#e7e7e7;
    font-size: 1.5em;
    white-space: nowrap;
}

.footer {
    bottom: 0;
    width: 100%;
    padding: 10px 20px;
    text-align: right;
    background-color:#e7e7e7;
}

.footer a{
    font-size: 1.5em;
}

canvas{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    background-color: transparent;
    pointer-events: none;
}

hr{
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
    margin: 10px 0 10px 0;
}

@media (prefers-color-scheme: dark) {
    * {
        color:#f1f1f1;
    }

    .container, body{
        background-color:#494949;
    }

    .navbar, .footer{
        background-color:#2e2e2e;
    }

    hr{
        background-image: linear-gradient(to right, #494949, #f1f1f1, #494949);
    }
}