.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 25px;
    padding: 20px;
}

@media only screen and (max-width: 950px) {
    .container {
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    }
}

.book {    
    font-weight: bold;
    text-align: right;
    color: #181a1a;
    
    width:  300px;
    height: 400px;
    box-shadow: 0 1px 5px #00000099;
    
    border-radius: 10px;
    background-size: cover;
    
    position: relative;
    
    transition-duration: 300ms;
    transition-property: transform, box-shadow;
    transition-timing-function: ease-out;
    transform: rotate3d(0);
  }
  
  .book:hover {
    transition-duration: 150ms;
    box-shadow: 0 5px 20px 5px #00000044;
  }
  
  .book .glow {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    
    background-image: radial-gradient(circle at 50% -20%, #ffffff22, #0000000f);
  }