.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 10px;
    padding: 20px;
}

.container img {
    width: 100%;
    height: 100%;
    object-fit: fill;
    opacity: 1;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

img:hover
{
    opacity: .9;
}

@media only screen and (max-width: 950px) {
    .container {
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    }
}