h1, h2, p{
    text-justify: inter-word;
    text-align: justify;
}

.text{
    width: 100%;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row-reverse;

    gap: 20px;
    padding: 20px 150px 0 150px;
}

.image {
    box-shadow: 0 2px 10px #00000099;
    border-radius: 5px;
    max-height: 75vh;
    width: auto;
    max-width: 50%;
    object-fit: contain;
}

footer{
    position: absolute;
    bottom: 0;
}

.selector-date{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.person_details{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.headshot{
    height: auto;
    width: auto;
    max-width: 30px;
    margin-top: 5px;
}

@media only screen and (max-width: 950px) {
    .container{
        flex-direction: column-reverse;
        padding: 20px;
    }

    .selector-date{
        flex-direction: row;
        justify-content: space-between;
    }

    footer{
        position: relative;
    }

    .image{
        max-width: 100%;
    }

    .person_details{
        display: flex;
        flex-direction: row;
    }

    .headshot{
        height: auto;
        width: auto;
        max-width: 30px;
        margin-top: 0px;
        margin-left: 5px;
    }
}