p{
    text-justify: inter-word;
    text-align: justify;
}

.container {
    display: flex;
    align-items: center;  /* Vertically aligns content */
    justify-content: center;
    gap: 20px;  /* Adds space between image and text */
    padding: 20px;
    margin-left: 100px;
    margin-right: 100px;
}

.footer{
    position: absolute;
}

.image {
    height: 75vh; /* Adjust the image size */
}

@media only screen and (max-width: 950px) {
    .image {
        width: 0;
    }
    .text, p{
        width: 100%;
    }
    .container{
        margin: 0;
    }
}