* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #333;
    font: 11pt Avenir, 'Segoe UI', 'Lucida Grande', Lucida, Verdana, sans-serif;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}

h1{
    font-size: 20pt;
}

h2{
    font-size: 15pt;
}

p{
    width: 30vw;
    padding-top: 5px;
}

.footer {
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px 20px;
    text-align: right;
    background-color:#e7e7e7;
    position: absolute;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 20px;
    background-color:#e7e7e7;
}
.navbar .logo {
    font-size: 1.5rem;
}
.navbar .title {
    font-size: 20px;
    white-space: nowrap;
    font-weight: bold;
    font-family: Georgia, Palatino, 'Palatino Linotype', Times, 'Times New Roman', serif;
}
.navbar a {
    text-decoration: none;
    font-size: 1.5rem;
}

img:hover
{
    opacity: .9;
}

.main {
    display: flex;
    align-items: center;  /* Vertically aligns content */
    justify-content: center;
    gap: 20px;  /* Adds space between image and text */
    padding: 20px;
}

.image {
    height: 75vh; /* Adjust the image size */
}

@media (prefers-color-scheme: dark) {
    * {
        color:#f1f1f1;
    }

    .navbar, .footer{
        background-color:#2e2e2e;
    }

    .main, body{
        background-color:#494949;
    }
}