* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #333;
    text-decoration: none;
    font-family: Avenir, 'Segoe UI', 'Lucida Grande', Lucida, Verdana, sans-serif;
}

body {
    background-color: #f2f2f2;
}

p{
    width: 30vw;
    padding-top: 5px;
    text-justify: inter-word;
    text-align: justify;
}

.footer {
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px 20px;
    text-align: right;
    background-color:#e7e7e7;
    position: absolute;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 20px;
    background-color:#e7e7e7;
    font-size: 1.5em;
    white-space: nowrap;
}

.main {
    display: flex;
    align-items: center;  /* Vertically aligns content */
    justify-content: center;
    gap: 20px;  /* Adds space between image and text */
    padding: 20px;
}

.image {
    height: 75vh; /* Adjust the image size */
}

@media only screen and (max-width: 950px) {
    .image {
        width: 0;
    }
    .text, p{
        width: 100%;
    }
}

@media (prefers-color-scheme: dark) {
    * {
        color:#f1f1f1;
    }

    .navbar, .footer{
        background-color:#2e2e2e;
    }

    .main, body{
        background-color:#494949;
    }
}